# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.env
.env.*

# OS files
.DS_Store

# IDE files
.vscode/
.idea/

# Logs
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Test and coverage outputs
htmlcov/
.coverage
.tox/
.cache/
.pytest_cache/


# Raw data files
data
data/raw/*
data/interim/*
data/processed/*

# Reports outputs
reports/
